.container1 {
    width: 1000px;
    margin: 0px auto;
    position: relative;
}

.container2 {
    width: 1000px;
    margin: 0px auto;
}

.banner {
    align-content: center;
    justify-content: center;
}
